 .btn-table-columns {
    color: #fff;
    background-color: #ae440c;
    border-color: #9f400c;
}
 .btn-table-columns:not(:disabled):not(.disabled).active, .btn-table-columns:not(:disabled):not(.disabled):active, .show>.btn-table-columns.dropdown-toggle {
    background-color: #117a8b;
    border-color: #10707f;
}

button.btn.checkbtn.btn-table-columns {
    color: #fff;
}

.btn-group.btn-group-toggle.w-100 {
    padding: 0 .5rem 0 .5rem;
}

.irs--shiny .irs-bar {
    background: #FFFFFF00;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.irs--shiny .irs-line { height: 10px; }
.irs--shiny .irs-bar { height: 10px; }

a:hover, a:focus {
    text-decoration: underline;
}
